# Homophily and distance simulations at mixed-hexagon level
1) Randomly shift non-home activities within the same distance range;
2) Randomly shift non-home activiti with the average distance decay.

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mobi-social-segregation-se

D:\mobi-social-segregation-se

In [2]:
# Load libs
import pandas as pd
import os
os.environ['USE_PYGEOS'] = '0'
import preprocess
import geopandas as gpd
from tqdm.notebook import tqdm
import sqlalchemy
from collections import Counter
import random
import ast
from p_tqdm import p_map
import numpy as np
from scipy.spatial import distance
from sklearn.neighbors import KDTree
import seaborn as sns

In [3]:
# Data location
user = preprocess.keys_manager['database']['user']
password = preprocess.keys_manager['database']['password']
port = preprocess.keys_manager['database']['port']
db_name = preprocess.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')
# Data location for OSM data of Sweden (Aug 28, 2023)
db_name_osm = preprocess.keys_manager['osmdb']['name']
engine_osm = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name_osm}?gssencmode=disable')

## 1. Load data

In [10]:
# POIs in Sweden
gdf_pois = gpd.GeoDataFrame.from_postgis(sql="""SELECT osm_id, "Tag", geom FROM built_env.pois;""", con=engine)
gdf_pois = gdf_pois.to_crs(3006)
gdf_pois.loc[:, 'y'] = gdf_pois.geom.y
gdf_pois.loc[:, 'x'] = gdf_pois.geom.x

In [11]:
# Find which mixed-hexagon zone each POI belongs to
gdf_hex= gpd.GeoDataFrame.from_postgis(sql="""SELECT hex_id AS hex_s, deso, geom FROM spatial_units;""", con=engine)
gdf_hex = gdf_hex.to_crs(3006)
gdf_pois = gpd.sjoin(gdf_pois, gdf_hex[['hex_s', 'geom']])
gdf_pois.head()

,osm_id,Tag,geom,y,x,index_right,hex_s
0,1147753712,Tourism,POINT (727361.542 6645721.136),6.645721e+06,727361.542224,12334,860882b5fffffff
1,1147753708,Tourism,POINT (727492.967 6645710.224),6.645710e+06,727492.967193,12334,860882b5fffffff
2,1147753710,Tourism,POINT (727535.447 6645658.562),6.645659e+06,727535.446635,12334,860882b5fffffff
3,1030180338,Tourism,POINT (727094.846 6645579.711),6.645580e+06,727094.845826,12334,860882b5fffffff
1289,1053621740,Tourism,POINT (728005.484 6644053.641),6.644054e+06,728005.483828,12334,860882b5fffffff

In [12]:
# Load stops and add home label
df_stops = pd.read_sql(sql=f"""SELECT uid, lat, lng, wt_total, time_span, deso
                               FROM segregation.mobi_seg_deso_raw
                               WHERE weekday=1 AND holiday=0;""",
                       con=engine)
gdf_stops = preprocess.df2gdf_point(df_stops, 'lng', 'lat', crs=4326, drop=False)
df_home = pd.read_sql(sql=f"""SELECT uid, lat, lng, wt_p
                               FROM home_p;""",
                       con=engine)
df_home.loc[:, 'home'] = 1
gdf_stops = pd.merge(gdf_stops, df_home, on=['uid', 'lat', 'lng'], how='left')
gdf_stops = gdf_stops.fillna(0)

In [15]:
len(gdf_stops.loc[gdf_stops.wt_p==0, :]) / len(gdf_stops)

0.5992058771847326

In [ ]:
# Find hexagons for stops
deso_list = gdf_hex.loc[gdf_hex['hex_s'] == '0', 'deso'].values
hex_deso_list = gdf_hex.loc[gdf_hex['hex_s'] != '0', 'deso'].unique()
geo_deso = gdf_stops.loc[gdf_stops['deso'].isin(deso_list), :]
geo_hex = gdf_stops.loc[gdf_stops['deso'].isin(hex_deso_list), :]

geo_deso.loc[:, 'hex'] = geo_deso.loc[:, 'deso']

In [19]:
def find_hex(data):
    # uid, lat, lng, wt_total, dur, hex_id*
    deso = data.deso.values[0]
    gdf_d = data.copy()
    gdf_d = gpd.sjoin(gdf_d,
                      gdf_hex.loc[gdf_hex['deso'] == deso, :].drop(columns=['deso']).to_crs(4326),
                      how='inner')
    return gdf_d.rename(columns={'hex_s': 'hex'})

print("Find hexagons for geolocations by DeSO zone.")
tqdm.pandas()
geo4graph = geo_hex.groupby('deso').progress_apply(find_hex).reset_index(drop=True)
gdf_stops = pd.concat([geo4graph, geo_deso])
gdf_stops.head()

Find hexagons for geolocations by DeSO zone.

  0%|          | 0/4475 [00:00<?, ?it/s]

,uid,lat,lng,wt_total,time_span,deso,geometry,wt_p,home,index_right,hex
0,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,312.081655,"{5,12}",0114A0010,POINT (17.85034 59.51360),41.578947,1.0,1175.0,8708862b4ffffff
1,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,83.637645,"{38,39}",0114A0010,POINT (17.85034 59.51360),41.578947,1.0,1175.0,8708862b4ffffff
2,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,168.237009,"{41,43}",0114A0010,POINT (17.85034 59.51360),41.578947,1.0,1175.0,8708862b4ffffff
3,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,312.081655,"{1,6,48,48}",0114A0010,POINT (17.85034 59.51360),41.578947,1.0,1175.0,8708862b4ffffff
4,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,1076.227592,"{1,4,38,48}",0114A0010,POINT (17.85034 59.51360),41.578947,1.0,1175.0,8708862b4ffffff

In [20]:
# Process stops
gdf_stops = gdf_stops.to_crs(3006)
gdf_stops.loc[:, 'y'] = gdf_stops.geometry.y
gdf_stops.loc[:, 'x'] = gdf_stops.geometry.x
print(len(gdf_stops))
gdf_stops.replace([np.inf, -np.inf], np.nan, inplace=True)
gdf_stops.dropna(subset=["x", "y"], how="any", inplace=True)
print("After processing infinite values", len(gdf_stops))

13196052
After processing infinite values 13196052

## 2. Find POI for each stop

In [21]:
gdf_pois = gdf_pois.reset_index(drop=True)
tree = KDTree(gdf_pois[["y", "x"]], metric="euclidean")
ind, dist = tree.query_radius(gdf_stops[["y", "x"]].to_records(index=False).tolist(),
                              r=300, return_distance=True, count_only=False, sort_results=True)
gdf_stops.loc[:, 'poi_num'] = [len(x) for x in ind]
gdf_stops.loc[gdf_stops.poi_num > 0, 'osm_id'] = [gdf_pois.loc[x[0], 'osm_id'] for x in ind if len(x) > 0]
gdf_stops.loc[gdf_stops.poi_num > 0, 'dist'] = [x[0] for x in dist if len(x) > 0]
gdf_stops = pd.merge(gdf_stops, gdf_pois[['osm_id', 'Tag']], on='osm_id', how='left')
gdf_stops.head()

,uid,lat,lng,wt_total,time_span,deso,geometry,wt_p,home,index_right,hex,y,x,poi_num,osm_id,dist,Tag
0,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,312.081655,"{5,12}",0114A0010,POINT (661281.054 6600701.670),41.578947,1.0,1175.0,8708862b4ffffff,6.600702e+06,661281.054456,2,8.618075e+09,276.928501,Outdoor Recreation (a)
1,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,83.637645,"{38,39}",0114A0010,POINT (661281.054 6600701.670),41.578947,1.0,1175.0,8708862b4ffffff,6.600702e+06,661281.054456,2,8.618075e+09,276.928501,Outdoor Recreation (a)
2,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,168.237009,"{41,43}",0114A0010,POINT (661281.054 6600701.670),41.578947,1.0,1175.0,8708862b4ffffff,6.600702e+06,661281.054456,2,8.618075e+09,276.928501,Outdoor Recreation (a)
3,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,312.081655,"{1,6,48,48}",0114A0010,POINT (661281.054 6600701.670),41.578947,1.0,1175.0,8708862b4ffffff,6.600702e+06,661281.054456,2,8.618075e+09,276.928501,Outdoor Recreation (a)
4,6288c258-223d-40d3-8e05-f4b25757227e,59.513596,17.85034,1076.227592,"{1,4,38,48}",0114A0010,POINT (661281.054 6600701.670),41.578947,1.0,1175.0,8708862b4ffffff,6.600702e+06,661281.054456,2,8.618075e+09,276.928501,Outdoor Recreation (a)

In [22]:
print("Share of non-home stops with a nearby POI:")
len(gdf_stops.loc[(gdf_stops.home == 0) & (~gdf_stops.Tag.isna()), :]) / \
len(gdf_stops.loc[gdf_stops.home == 0, :])

Share of non-home stops with a nearby POI:

0.7548817863758132

## 3. Descriptive analysis on homophily theory

In [9]:
def group_ice_r(x):
    if x > 0.2:
        return 'D'
    elif x < -0.2:
        return 'F'
    else:
        return 'N'

In [11]:
df = pd.read_parquet('results/data4model_individual.parquet')
df = df.loc[(df.weekday == 1) & (df.holiday == 0), ['uid', 'wt_p', 'ice_birth_resi']].rename(columns={'ice_birth_resi': 'ice_r'})
df.loc[:, 'grp_r'] = df['ice_r'].apply(lambda x: group_ice_r(x))
df.iloc[0]

uid      00008608-f79e-414d-bf1c-25632d6bc059
wt_p                                84.428571
ice_r                                0.324146
grp_r                                       D
Name: 570851, dtype: object

In [17]:
uids_seg = df.loc[df.grp_r != 'N', 'uid'].unique()
len(uids_seg)

165370

### 3.1 Stay home share

In [13]:
def span2seq(time_seq_list):
    seq = list(range(time_seq_list[0], time_seq_list[1] + 1))
    if len(time_seq_list) > 2:
        seq2 = list(range(time_seq_list[2], time_seq_list[3] + 1))
        seq = seq2 + seq
    return seq

def home_share(data):
    df = data.copy()
    df.loc[:, 'time_span'] = df.loc[:, 'time_span'].apply(lambda x: ast.literal_eval(
        x.replace("{", "(").replace("}", ")")
    ))
    df.loc[:, 'time_seq'] = df.loc[:, 'time_span'].apply(span2seq)
    df.loc[:, 'dur'] = df.loc[:, 'time_seq'].apply(lambda x: len(x))
    df.loc[:, 'dur_wt'] = df.loc[:, 'dur'] * df.loc[:, 'wt_total']
    l_h = df.loc[df.home == 1, 'dur_wt'].sum()
    l_nh = df.loc[df.home == 0, 'dur_wt'].sum()
    return pd.Series(dict(home_share=l_h / (l_h + l_nh) * 100))

In [18]:
tqdm.pandas()
df_home_s = gdf_stops.loc[gdf_stops.uid.isin(uids_seg), ['uid', 'home', 'time_span', 'wt_total']].\
    groupby('uid').progress_apply(home_share).reset_index()

  0%|          | 0/165370 [00:00<?, ?it/s]

In [19]:
df = pd.merge(df, df_home_s, on='uid')
df.groupby('grp_r').apply(lambda x: pd.Series(dict(home_share=np.average(x['home_share'], weights=x['wt_p'])))).reset_index()

  grp_r  home_share
0     D   59.271213
1     F   64.277773

### 3.2 POI categories

In [49]:
def poi_share(data):
    return pd.Series(dict(dur=data.loc[:, 'dur_wt'].sum()))

def poi_share_grp(data):
    L = sum(data.dur * data.wt_p)
    return pd.Series(dict(tag_time=L))

def poi_share_marginal(data):
    L = data.tag_time.sum()
    data.loc[:, 'tag_time'] /= (L / 100)
    return data

In [23]:
df_poi = pd.merge(gdf_stops.loc[(gdf_stops.uid.isin(uids_seg)) & (gdf_stops.home == 0), 
                                ['uid', 'time_span', 'wt_total', 'Tag']], 
                  df, on='uid', how='left')
df_poi.loc[:, 'time_span'] = df_poi.loc[:, 'time_span'].apply(lambda x: ast.literal_eval(
    x.replace("{", "(").replace("}", ")")
))
df_poi.loc[:, 'time_seq'] = df_poi.loc[:, 'time_span'].apply(span2seq)
df_poi.loc[:, 'dur'] = df_poi.loc[:, 'time_seq'].apply(lambda x: len(x))
df_poi.loc[:, 'dur_wt'] = df_poi.loc[:, 'dur'] * df_poi.loc[:, 'wt_total']
df_poi.drop(columns=['time_span', 'time_seq', 'dur'], inplace=True)

In [43]:
df_poi_stats = df_poi.groupby(['uid', 'Tag']).progress_apply(poi_share).reset_index()

  0%|          | 0/543282 [00:00<?, ?it/s]

In [44]:
df_poi_stats = pd.merge(df_poi_stats, df, on='uid', how='left')
df_poi_stats.head()

,uid,Tag,dur,wt_p,ice_r,grp_r,home_share
0,00008608-f79e-414d-bf1c-25632d6bc059,Education (a),45123.769147,84.428571,0.324146,D,45.411232
1,00008608-f79e-414d-bf1c-25632d6bc059,Fashion and Accessories (s),13307.714806,84.428571,0.324146,D,45.411232
2,00008608-f79e-414d-bf1c-25632d6bc059,Food and Drink (a),4435.904935,84.428571,0.324146,D,45.411232
3,00008608-f79e-414d-bf1c-25632d6bc059,Groceries and Food (s),4435.904935,84.428571,0.324146,D,45.411232
4,00008608-f79e-414d-bf1c-25632d6bc059,Outdoor Recreation (a),44359.049354,84.428571,0.324146,D,45.411232

In [50]:
df_poi_stats = df_poi_stats.groupby(['Tag', 'grp_r']).progress_apply(poi_share_grp).reset_index()

  0%|          | 0/66 [00:00<?, ?it/s]

In [52]:
df_poi_stats = df_poi_stats.groupby('grp_r').progress_apply(poi_share_marginal).reset_index(drop=True)

  0%|          | 0/2 [00:00<?, ?it/s]

In [57]:
df_poi_stats = df_poi_stats.sort_values(by=['tag_time', 'Tag', 'grp_r'], ascending=False)
df_poi_stats

                        Tag grp_r   tag_time
55   Outdoor Recreation (a)     F  17.344407
43       Food and Drink (a)     F  16.896347
22   Outdoor Recreation (a)     D  16.893447
10       Food and Drink (a)     D  15.526317
19                  Leisure     D  13.808000
..                      ...   ...        ...
32       Transportation (s)     D   0.011746
65       Transportation (s)     F   0.011683
25           Recreation (s)     D   0.004735
34  Automotive Services (a)     F   0.004039
58           Recreation (s)     F   0.003078

[66 rows x 3 columns]

In [64]:
df_poi_disp = pd.pivot_table(data=df_poi_stats, values=['tag_time'], index=['Tag'], columns=['grp_r']).reset_index()
df_poi_disp.columns = df_poi_disp.columns.droplevel()
df_poi_disp.loc[:, 'delta'] = df_poi_disp.loc[:, 'D'] - df_poi_disp.loc[:, 'F']
df_poi_disp = df_poi_disp.sort_values(by='delta', ascending=False)

In [66]:
df_poi_disp.loc[abs(df_poi_disp.delta) > 1, :]

grp_r                              D          F     delta
30                Tourism  11.100781   9.672651  1.428130
19                Leisure  13.808000  12.496089  1.311911
4           Education (a)   5.562218   6.606107 -1.043890
10     Food and Drink (a)  15.526317  16.896347 -1.370030

## 4. Randomly shift non-home stops
To a similar POI within 1 km radius.

Step 1. If there are any POI having the same Tag, select one.
Step 2. If Step 1 fails, select one from any equivalent tags in amenity/shop class.
Step 3. If non in Office or Craft, select one from any tags in the other group.
Step 4. If they both below to shops, i.e., (s) or Shop.
Step 5. If all steps fail, set None for the stop.

### 4.1 POI randomization within distance range (1)

In [23]:
shift_radius = 1000 # m
shift_radius_lower = 30 # m

def poi2nearby(row):
    # Distance-constrained POI shifting
    X = gdf_pois.loc[gdf_pois.osm_id==row['osm_id'], 'x'].values[0]
    Y = gdf_pois.loc[gdf_pois.osm_id==row['osm_id'], 'y'].values[0]
    ind, dist = tree.query_radius([(Y, X)], r=shift_radius,
                                  return_distance=True, count_only=False, sort_results=True)
    ind = ind[0]
    dist = dist[0]
    def tag_categorization(x):
        if x == row['Tag']:
            return 1
        if ('(' in row['Tag']) & ('(' in x):
            if row['Tag'].split(' (')[0] == x.split(' (')[0]:
                return 2
        if (row['Tag'] in ('Office', 'Craft')) & (x in ('Office', 'Craft')):
            return 3
        if ('(s)' in row['Tag']) | (row['Tag'] == 'Shop'):
            if ('(s)' in x) | (x == 'Shop'):
                return 4
        return 0

    if len(ind) > 0:
        df = pd.DataFrame()
        df.loc[:, "id"] = range(0, len(ind))
        df.loc[:, "tag"] = [gdf_pois.loc[x, 'Tag'] for x in ind]
        df.loc[:, "dist"] = dist
        df.loc[:, "hex_s"] = [gdf_pois.loc[x, 'hex_s'] for x in ind]
        # Exclude POIs too close
        df = df.loc[df.dist > shift_radius_lower, :]
        if len(df) > 0:
            df.loc[:, "tag_cat"] = df.loc[:, "tag"].apply(lambda x: tag_categorization(x))
            if df.loc[:, "tag_cat"].sum() > 0:
                # sample 1 POI following the conditions 1, 2, 3, and 4
                for cat in (1, 2, 3, 4):
                    df2sample = df.loc[df.tag_cat == cat, :]
                    if len(df2sample) > 0:
                        hex_pool = random.choices(df2sample['hex_s'].values, k=100)
                        # hex_st = df2sample['hex_s'].values[0]
                        break
            else:
                hex_pool = []
                # hex_st = ''
        else:
            hex_pool = []
            # hex_st = ''
            
        if len(hex_pool) > 0:
            hx_str = str(dict(Counter(hex_pool)))
        else:
            hx_str = ''
    
        return pd.Series(dict(hex_s=hx_str))

In [24]:
stops2shift = gdf_stops.loc[(gdf_stops.home == 0) & (~gdf_stops.Tag.isna()), :]
stops2keep = gdf_stops.loc[~((gdf_stops.home == 0) & (~gdf_stops.Tag.isna())), :]

#### 4.1.2 Run the homophily simulation for the entire dataset and save

In [26]:
tqdm.pandas()
shifted = stops2shift.sample(1000).progress_apply(poi2nearby, axis=1)
shifted.head()

  0%|          | 0/1000 [00:00<?, ?it/s]

                                                     hex_s
1901451  {'880886b9d1fffff': 14, '880886b9d5fffff': 19,...
9168193  {'8908c680043ffff': 3, '0': 64, '8908c68046fff...
237543   {'88088679b9fffff': 17, '8808867987fffff': 37,...
5701854  {'0': 89, '891f25a9327ffff': 6, '891f25a932fff...
6181497  {'8908b41b2afffff': 37, '8908b41b217ffff': 32,...

In [ ]:
stops2shift = pd.concat([stops2shift, shifted], axis=1)

In [ ]:
gdf_stops = pd.concat([stops2shift, stops2keep])
gdf_stops.iloc[0]

In [ ]:
gdf_stops.drop(columns=['x', 'y', 'geometry']).\
    to_sql('mobi_seg_hex_raw_sim1_w1h0', engine, schema='segregation', index=False,
           method='multi', if_exists='append', chunksize=10000)

### 3.2 Distance-decay randomization (2)
MobiSegIndightsSE.etl.1.0/`32-homophily-simulation-dist-free.py`