# Construct features for predicting individual-level experienced income segregation

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mobi-social-segregation-se

D:\mobi-social-segregation-se

In [2]:
# Load libs
import pandas as pd
import sqlalchemy
import numpy as np
from tqdm import tqdm
import seaborn as sns
from lib import preprocess

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\ProgramData\Anaconda3\lib\site-packages\geopandas\_compat.py:115: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [3]:
# Data location
user = preprocess.keys_manager['database']['user']
password = preprocess.keys_manager['database']['password']
port = preprocess.keys_manager['database']['port']
db_name = preprocess.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}')

## 1. Load prediction target and features

In [4]:
df = pd.read_sql("""SELECT * FROM segregation.mobi_seg_deso_individual;""", con=engine)

### 1.0 Replace grid-based residential segregation with DeSO-level results

In [5]:
df_seg_resi = pd.read_sql(sql='''SELECT region, evenness AS evenness_income_resi
                                 FROM segregation.resi_seg_deso WHERE var='income';''', con=engine)

In [6]:
df = pd.merge(df.drop(columns=['evenness_income_resi']), df_seg_resi, on='region', how='left')
df.iloc[0]

weekday                                                         0
holiday                                                         0
uid                          0000c837-ef82-4dfd-b2a5-00bdc8680b0b
time_seq                                                      1.0
evenness_income                                          0.146859
num_coexistence                                             165.0
number_of_locations                                            11
number_of_visits                                              114
average_displacement                                     2.591139
radius_of_gyration                                       8.969815
median_distance_from_home                               10.043577
zone                                                6712506575000
region                                                  0180C1870
car_ownership                                            0.203142
Lowest income group                                      0.323877
Not Sweden                                               0.428736
cum_jobs                                            251052.005647
cum_stops                                                   487.0
evenness_income_resi                                     0.113333
Name: 0, dtype: object

### 1.1 Aggregate (drop time sequence)

In [7]:
df_ind = df.drop(columns=['weekday', 'holiday', 'time_seq', 'evenness_income']).drop_duplicates(subset=['uid'])

In [8]:
tqdm.pandas()
df_stats = df.groupby(['weekday', 'holiday', 'uid'])['evenness_income'].progress_apply(np.mean).reset_index()
df_stats.head()

100%|██████████| 1204518/1204518 [01:02<00:00, 19281.86it/s]

   weekday  holiday                                   uid  evenness_income
0        0        0  00008608-f79e-414d-bf1c-25632d6bc059         0.163031
1        0        0  0000c837-ef82-4dfd-b2a5-00bdc8680b0b         0.183732
2        0        0  0000cd68-c931-4e3c-96f6-7c5837f59b08         0.092451
3        0        0  0000f6ad-ffa4-4af2-9c2a-49d6dc86ec3a         0.225289
4        0        0  000115f0-937a-4716-8d8b-09b1ed54c5ce         0.117980

In [9]:
df = pd.merge(df_stats, df_ind, on='uid', how='left')

In [10]:
# Add built environment features of residential regions (DeSO zones)
df_built_env = pd.merge(pd.read_sql("""SELECT deso, num_jobs, num_stops, gsi FROM built_env.features_deso;""", con=engine),
                        pd.read_sql("""SELECT deso, length_density FROM built_env.walk_density_deso;""", con=engine),
                        on='deso', how='left')
df = pd.merge(df, df_built_env.rename(columns={'deso': 'region'}), on='region', how='left')
df.columns

Index(['weekday', 'holiday', 'uid', 'evenness_income', 'num_coexistence',
       'number_of_locations', 'number_of_visits', 'average_displacement',
       'radius_of_gyration', 'median_distance_from_home', 'zone', 'region',
       'car_ownership', 'Lowest income group', 'Not Sweden', 'cum_jobs',
       'cum_stops', 'evenness_income_resi', 'num_jobs', 'num_stops', 'gsi',
       'length_density'],
      dtype='object')

### 1.2 Deal with missing values

In [11]:
# evenness_income_resi, Not Sweden, Lowest income group
df_fillna = pd.merge(pd.read_sql("""SELECT region, "Not Sweden", "Lowest income group" FROM zone_stats;""", con=engine),
                     pd.read_sql("""SELECT region, evenness AS evenness_income_resi FROM segregation.resi_seg_deso
                                    WHERE var='income';""", con=engine),
                     on='region', how='left')
df_fillna.head()

      region  Not Sweden  Lowest income group  evenness_income_resi
0  0114A0010    0.154430                 0.21              0.160000
1  0114C1010    0.195896                 0.15              0.246667
2  0114C1020    0.180124                 0.15              0.240000
3  0114C1030    0.173784                 0.17              0.186667
4  0114C1040    0.375959                 0.25              0.093333

In [12]:
df2proc = df.loc[df.evenness_income_resi.isna(), :]
df2proc = pd.merge(df2proc.drop(columns=['evenness_income_resi', 'Not Sweden', 'Lowest income group']),
                   df_fillna,
                   on='region',
                   how='left')
df = pd.concat([df.loc[~df.evenness_income_resi.isna(), :], df2proc])

In [13]:
df.dropna(how='any', inplace=True)

### 1.3 Define features and target

In [14]:
features = ['weekday', 'holiday',
            'number_of_locations', 'number_of_visits', 'average_displacement', 'radius_of_gyration', 'median_distance_from_home',
            'Not Sweden', 'Lowest income group', 'car_ownership',
            'cum_jobs', 'cum_stops', 'evenness_income_resi',
            'num_jobs', 'num_stops', 'gsi', 'length_density']
target = 'evenness_income'

In [15]:
X = df[features]
y = df[target]

## 2. Feature analysis
### 2.1 VIF test

In [16]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

In [17]:
vif_data

                      feature        VIF
0                     weekday   1.992651
1                     holiday   1.852283
2         number_of_locations   3.361335
3            number_of_visits   3.679218
4        average_displacement   2.891649
5          radius_of_gyration   3.015067
6   median_distance_from_home   1.279986
7                  Not Sweden   3.171486
8         Lowest income group   3.303721
9               car_ownership   3.631064
10                   cum_jobs   7.648246
11                  cum_stops   4.928206
12       evenness_income_resi   4.599311
13                   num_jobs   3.640464
14                  num_stops   2.242725
15                        gsi  10.250766
16             length_density   6.270141

### 2.2 Feature importance
After removing features with VIF > 10

In [18]:
features = vif_data.loc[vif_data.VIF < 10, 'feature'].values
X = df[features]

In [19]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
num_feature = len(features)
fit = SelectKBest(f_regression, k=num_feature).fit(X, y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
df_F = pd.DataFrame( [X.columns] + [x for x in f_regression(X, y)]).transpose()
df_F.columns = ["f", "F", "p-value"]
df_F = df_F.merge(featureScores.nlargest(num_feature,'Score'), left_on = "f", right_on = "Specs").drop(columns=["Specs"]).sort_values(by=["Score"], ascending=False)
df_F

                            f             F p-value          Score
7                  Not Sweden  117737.29863     0.0  117737.298630
12       evenness_income_resi  116768.59447     0.0  116768.594470
8         Lowest income group  43443.045221     0.0   43443.045221
4        average_displacement  31563.918835     0.0   31563.918835
2         number_of_locations  29674.478688     0.0   29674.478688
3            number_of_visits  21398.509105     0.0   21398.509105
11                  cum_stops   13455.43754     0.0   13455.437540
13                   num_jobs  12622.543848     0.0   12622.543848
10                   cum_jobs  12049.645173     0.0   12049.645173
5          radius_of_gyration  11181.890572     0.0   11181.890572
6   median_distance_from_home   6599.626819     0.0    6599.626819
1                     holiday   4169.496394     0.0    4169.496394
0                     weekday    516.275094     0.0     516.275094
14                  num_stops     460.99818     0.0     460.998180
9               car_ownership    100.566416     0.0     100.566416
15             length_density     78.814238     0.0      78.814238

In [21]:
df[list(features) + [target]].to_parquet('results/data4model_individual.parquet', index=False)