# Descriptive analysis of input data
1. Number of stops, users, active days, and time span.
2. Users' active days description: count, # of stops per active day, duration of activities per active day.

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mobi-social-segregation-se

D:\mobi-social-segregation-se

In [2]:
# Load libs
import pandas as pd
import sqlalchemy
import numpy as np
from tqdm import tqdm
from lib import preprocess as preprocess

In [3]:
# Data location
user = preprocess.keys_manager['database']['user']
password = preprocess.keys_manager['database']['password']
port = preprocess.keys_manager['database']['port']
db_name = preprocess.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}')

## 1. Load data

In [4]:
df = pd.read_sql_query(sql="""SELECT * FROM stops_r;""", con=engine)
df.head(3)

,device_aid,interval,loc,start,end,latitude,longitude,size
0,004e21c0-c711-4e10-afe5-2afb7a1fb54b,318,7,1566190116,1566214316,58.495108,15.503768,52
1,074d1149-9cb3-4d49-af47-14f2a7cec1f1,86,4,1563016063,1563045136,62.000000,15.000000,5
2,0b676479-1dba-4ac0-8005-1418a51740ae,5,4,1559591275,1559688860,59.610000,17.840000,4

In [5]:
print("Data cover %s devices of %s stop points."%(df['device_aid'].nunique(), len(df)))

Data cover 977964 devices of 34844846 stop points.

In [6]:
df.loc[:, 'date'] = df.loc[:, 'TimeLocal'].dt.date
print("Data have %s active days from %s to %s."%(df.loc[:, 'date'].nunique(), df.loc[:, 'date'].min(), df.loc[:, 'date'].max()))

Data have 215 active days from 2019-06-01 to 2020-01-01.

In [7]:
df.loc[:, 'dur'] = df['leaving_datetime'] - df['datetime']
tqdm.pandas()
df.loc[:, 'dur'] = df.loc[:, 'dur'].progress_apply(lambda x: x.total_seconds())

100%|██████████| 27692741/27692741 [02:51<00:00, 161021.61it/s]

### 1.1 Overall statistics by month

In [9]:
tqdm.pandas()
df.loc[:, 'month'] = df.loc[:, 'date'].progress_apply(lambda x: str(x).split('-')[1])
df.groupby('month').progress_apply(lambda data: pd.Series({'num_stops': len(data), 'num_uid': data['uid'].nunique()}))

100%|██████████| 27692741/27692741 [00:57<00:00, 484906.74it/s]
100%|██████████| 8/8 [00:08<00:00,  1.09s/it]

       num_stops  num_uid
month
01          8235     5867
06       3276281   305444
07       4472734   334863
08       7501388   322392
09       2721842   127164
10       2169271   116415
11       2502435    98032
12       5040555   415531

## 2. User statistics

In [10]:
df_test = df.loc[df.uid == df.uid[0], :]
df_test.head()

,timestamp,uid,lat,lng,location_method,datetime,leaving_datetime,tzname,TimeLocal,leaving_TimeLocal,date
0,1559353521,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000009,15.791768,cell,2019-06-01 02:00:01,2019-06-01 04:00:01,Europe/Stockholm,2019-06-01 04:00:01,2019-06-01 06:00:01,2019-06-01
1,1559360671,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000009,15.791768,cell,2019-06-01 04:07:14,2019-06-01 05:56:28,Europe/Stockholm,2019-06-01 06:07:14,2019-06-01 07:56:28,2019-06-01
2,1559361665,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,60.000694,15.788607,cell,2019-06-01 05:56:28,2019-06-01 06:07:48,Europe/Stockholm,2019-06-01 07:56:28,2019-06-01 08:07:48,2019-06-01
3,1559379582,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,59.989805,15.835420,fused,2019-06-01 10:42:10,2019-06-01 11:05:10,Europe/Stockholm,2019-06-01 12:42:10,2019-06-01 13:05:10,2019-06-01
4,1559380908,0d3a07aa-e73c-4f98-b10e-cb8d3da77d79,59.981548,15.803858,cell,2019-06-01 11:14:34,2019-06-01 11:25:15,Europe/Stockholm,2019-06-01 13:14:34,2019-06-01 13:25:15,2019-06-01

In [10]:
def user_stats(data):
    # No. of active days
    num_days = data.loc[:, 'date'].nunique()
    # No. of stays
    num_stays = len(data)
    # Description of active days
    ## Median value of stays/active day
    num_stays_act = data['date'].value_counts().median()
    ## Median value of total duration of stays/active day (h)
    dur_total_act = np.median(data.groupby('date')['dur'].sum()/60/60)
    ## Median value of duration/stay (min)
    dur_median = data['dur'].median()/60
    return pd.Series(dict(num_days=num_days, num_stays=num_stays, num_stays_act=num_stays_act,
                          dur_total_act=dur_total_act, dur_median=dur_median))
tqdm.pandas()
df_user = df.groupby('uid').progress_apply(user_stats).reset_index()

100%|██████████| 1032001/1032001 [38:49<00:00, 443.11it/s]

In [13]:
df_user.describe()

           num_days     num_stays  num_stays_act  dur_total_act    dur_median
count  1.032001e+06  1.032001e+06   1.032001e+06   1.032001e+06  1.032001e+06
mean   6.983204e+00  2.683403e+01   1.685653e+00   1.305300e+00  3.896670e+01
std    1.530738e+01  1.112446e+02   1.877380e+00   1.844141e+00  3.343107e+01
min    1.000000e+00  1.000000e+00   1.000000e+00   1.669444e-01  1.001667e+01
25%    1.000000e+00  1.000000e+00   1.000000e+00   4.581944e-01  2.160000e+01
50%    2.000000e+00  2.000000e+00   1.000000e+00   7.733333e-01  3.220833e+01
75%    5.000000e+00  8.000000e+00   2.000000e+00   1.292917e+00  4.613333e+01
max    2.150000e+02  5.667000e+03   7.300000e+01   3.661181e+01  1.378733e+03

In [14]:
preprocess.dump2db_df(df_user, user, password, port, db_name, table_name='stops', schema_name='description')

## 3. Statistics of applied subset

In [4]:
df = pd.read_sql_query(sql="""SELECT * FROM description.stops;""", con=engine)
df.head(3)

,uid,num_days,num_stays,num_stays_act,dur_total_act,dur_median
0,00000940-1df4-4d77-8e56-add3dadb306b,1.0,1.0,1.0,0.937222,56.233333
1,00001f8b-76b9-409b-ac4d-cf6c85b39ee1,1.0,1.0,1.0,0.981389,58.883333
2,00002169-1c92-4179-a569-48a5c5fabecc,2.0,2.0,1.0,0.904861,54.291667

In [5]:
df_users = pd.read_sql_query(sql="""SELECT * FROM home_sub;""", con=engine)
df_users.head(3)

,uid,home,home_freq,home_share,freq,freq_wt,dur,lng,lat,deso
0,00009689-c524-4a99-95d8-a2397d87db62,1,0.800000,9.184845,8.0,54.100000,423.566667,12.657073,56.098287,1283C1670
1,0000cd68-c931-4e3c-96f6-7c5837f59b08,20,7.741087,42.844024,175.0,950.455111,7115.833333,16.580486,59.628055,1980C1570
2,0000f6ad-ffa4-4af2-9c2a-49d6dc86ec3a,4,6.748871,48.747843,15.0,123.688345,788.450000,16.633300,57.750000,0883C1020

In [7]:
df = df.loc[df.uid.isin(df_users.uid), :]
len(df), df.num_stays.sum()

(136065, 22337738.0)

In [8]:
df.describe()

,num_days,num_stays,num_stays_act,dur_total_act,dur_median
count,136065.000000,136065.000000,136065.000000,136065.000000,136065.000000
mean,33.393849,164.169610,3.323364,3.105239,36.565676
std,28.616876,263.639409,3.426012,3.356168,20.714809
min,7.000000,7.000000,1.000000,0.167500,10.050000
25%,13.000000,28.000000,1.000000,0.954444,25.750000
50%,23.000000,67.000000,2.000000,1.654167,32.950000
75%,43.000000,184.000000,4.000000,3.823194,41.291667
max,215.000000,5667.000000,56.000000,21.855278,1057.983333